<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<!-- https://bootsnipp.com/snippets/M5vml -->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="about-section paddingTB60 gray-bg">
                <div class="container">
                    <div class="row">
						<div class="col-md-7 col-sm-6">
							<div class="about-title clearfix">
								<h1>About <span>Schoolay</span></h1>
								<p class="about-paddingB"> Schoolay.com is India’s first kids sportswear brand taking sports clothing to every kid who aspires to be a sportsman or even life’s the sports way of life. Schoolay.com believes is using sports clothing as the main stream uniforms at schools and letting go of uncomfortable and upright formal uniforms. </p>
								<p>Every kid should take a leap wearing schoolay uniforms and sportswear. Schoolay also is only company that digitises this experience by providing an online ordering facility & door delivery to different parts of the country.</p>
							<div class="about-icons"> 
	                            <ul >
	                                <li><a target="_blank" href="https://www.facebook.com/schoolay"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a> </li>
<!-- 	                                <li><a href="https://twitter.com/schoolay"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a> </li>
	                                <li> <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a> </li>
	                                <li> <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a> </li> -->
	                            </ul>       
	            			</div>
							</div>
						</div>
						<div class="col-md-5 col-sm-6">
							<div class="about-img">
								<img src="/logo.png" width="300" height="300">
							</div>
						</div>	
                    </div>
                </div>
</div>