
<!------ Include the above in your HEAD tag ---------->
<!-- https://bootsnipp.com/snippets/M5vml -->
<div style="height:100px; margin:0 auto;">

</div>

<div class="about-section paddingTB60 gray-bg">
                <div class="container">
                    <div class="row">
						<div class="col-md-7 col-sm-6">
							<div class="">
								<h1>About <span>Schoolay</span></h1>
								<p> Schoolay.com is India’s first kids sportswear brand taking sports clothing to every kid who aspires to be a sportsman or even life’s the sports way of life. Schoolay.com believes is using sports clothing as the main stream uniforms at schools and letting go of uncomfortable and upright formal uniforms. </p>
								<p>Every kid should take a leap wearing schoolay uniforms and sportswear. Schoolay also is only company that digitises this experience by providing an online ordering facility & door delivery to different parts of the country.</p>
							<div> 
	                            <a target="_blank" href="https://www.facebook.com/schoolay"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a> 
	            			</div>
							</div>
						</div>
						<div class="col-md-5 col-sm-6">
							<div class="about-img">
								<img src="/logo.png" width="300" height="300">
							</div>
						</div>	
                    </div>
                </div>
</div>