<div class="jumbotron text-center">
  <h1>Welcome to Schoolay</h1>
  <p>Get in touch with us</p> 
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Kiran</h3>
      <p>kiran@schoolay.com</p>
      <p>+91 9986858818</p>
      <h3>Raja Kumaran</h3> 
      <p>raja@schoolay.com</p>
      <p>+91 88844 49305</p>
    </div>
        <div class="col-sm-4 text-right">
      <h3>Write to us </h3>
      <p>care@schoolay.com</p>
    </div>
  </div>
</div>
