/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "font-awesome";
@import "bootstrap";

.navbar-dark-blue {
    color: #1D375C;
    background-color: #1D375C;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:active:focus,
.btn-primary:focus {
    background-color: #1D375C;
    border-color: #1D375C;
} 
.btn-login {
	width: 130px;
}

p {
	font-family: "Times New Roman", Helvetica, sans-serif;
	font-size: 18px;
}
h1 {
    font-family: "Times New Roman", Times, serif;
}
bgimg{
	 background-image: url('https://i.pinimg.com/originals/b2/92/d1/b292d130dd3c00a48889499f0d4ca855.png');
	 background-repeat: no-repeat;
	 background-position: center; 
	 position: relative;;
}
.jumbotron_small
{   
    padding-top: 15px;
    padding-bottom:15px;
    background-size: cover;
    background: contain;
    max-width:500px;  /* define the max width */
 }
 .classWithPad { margin:10px; padding:10px; }